.addition {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $color-light-l;

  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.addition__wrapp {
  max-width: 380px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addition__button {
  display: flex;
  align-items: center;
padding: 10px 15px;
border-radius: 9px;
text-decoration: none;

&::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 23px;
  background-image: url("../../img/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-right: 15px;

}
}
