.button {
  display: block;
  width: fit-content;
  padding: 15px 45px;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 100px;

  &--second {
    background-color: transparent;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

.button-pagination {
  padding: 10px 10px;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 100%;

  &--second {
    background-color: transparent;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

.button:disabled,
.button-pagination:disabled {
  color: $color-dark-s;
  border-color: $color-dark-s;
  background-color: transparent;
}
