.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 89px;

  &--catalog {
    background-color: $color-white;
    padding-bottom: 30px;
  }
}
