.slider {
  position: relative;
}

.slider__wrapp {
  position: absolute;
  top: 50%;
  transform: translateY(50%);

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider__btn {
  display: block;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 6px;
  background-color: transparent;

  border-radius: 100%;
  border: 2px solid $color-primary;

  &--left {
    transform: rotate(180deg);
    background-image: url("../../img/Arrow.svg");
  }

  &--right {
    background-image: url("../../img/Arrow.svg");
  }

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &:disabled {
  color: $color-dark-s;
  border-color: $color-dark-s;
  background-color: transparent;
}
}
