.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.hero_wrapp {
  margin-top: 163px;
  max-width: 460px;
}

.hero__slogan {
  margin-bottom: 42px;
}

.hero__text {
  margin-bottom: 42px;
}
