/*===================== шрифты ===========================*/
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ArialMT.woff2") format("woff2"),
    url("../../fonts/ArialMT.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("../../fonts/Arial-ItalicMT.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Georgia.woff2") format("woff2"),
    url("../../fonts/Georgia.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Georgia-Bold.woff2") format("woff2"),
    url("../../fonts/Georgia-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Georgia-Italic.woff2") format("woff2"),
    url("../../fonts/Georgia-Italic.woff") format("woff");
  font-display: swap;
}

.basic-text {
  @include font ($size: 15px, $line-height: 160%, $color: $color-dark-xl);

  &--nav {
    color: $color-dark-s;
    text-decoration: none;

    &--catalog {
      color: $color-dark-l;
    }
  }

  &--nav-current {
    color: $color-light-s;
    // text-decoration: 2px solid $color-primary;   -------ПОЧЕМУ НЕ РАБОТАЕТ?

    &--catalog {
      color: $color-dark-3xl;
    }
  }
}

.section-slogan {
  @include font ($family: $font-secondary, $size: 44px, $line-height: 130%, $color: $color-white);
}

.section-title {
  /* h2*/

  @include font ($family: $font-secondary, $size: 35px, $line-height: 130%, $color: $color-dark-l);

  &--footer {
    color: $color-white;
  }
}

.logo-title {
  @include font ($family: $font-secondary, $size: 32px, $line-height: 110%, $color: $color-primary);
  letter-spacing: 6%;

  &--catalog {
    color: $color-dark-l;
  }
}

.logo-subtitle {
  @include font ($size: 13px, $line-height: 120%, $color: $color-white);
  letter-spacing: 10%;

  &--catalog {
    color: $color-dark-3xl;
  }
}

.button-text {
  @include font ($family: $font-secondary, $size: 17px, $line-height: 130%, $color: $color-dark-3xl);
}

.subtitle {
  /*h3*/
  @include font ($family: $font-secondary, $size: 20px, $line-height: 115%, $color: $color-dark-l);

  &--contacts {
    color: $color-primary;
    text-decoration: none;
  }
}

.bank-text {
  @include font ($family: $font-secondary, $size: 15px, $line-height: 110%, $color: $color-dark-l);
  letter-spacing: 6%;
}

.sub-text {
  @include font ($size: 12px, $line-height: 18px, $color: $color-dark-m, $style: italic);
}
