// FONTS

$font-base: "Arial", "PT Sans",sans-serif;
$font-secondary:  "Georgia", "Roboto", serif;


// COLORS

//  для текста
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;


$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;

$color-light-l: #f6f6f6; //фон
$color-dark-l: #545454; //текст

$color-dark-xl: #4c4c4c; //текст
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$color-dark-m: #b2b2b2;


// WIDTH

$desktop-width: 1280px;

$tablet-width: 768px;

$mobile-width: 320px;
$mobile2-width: 375px;
